.vscode/settings.json
.vscode/tasks.json
Gates/Aptitude/Handwriting research report.pdf
Gates/Unacademy Learning/C_programming_and_Data_Structure/DS_and_C_programming_notes.md
.vscode/settings.json

/home/arghanath/Documents/Data-Structure-and-Algorithms/Gates/Unacademy Learning/COA/COA_long_notes.pdf
Gates/Unacademy Learning/COA/COA_long_notes.pdf
/home/arghanath/Documents/Data-Structure-and-Algorithms/Gates/Unacademy Learning/Aptitude/PDFs
/home/arghanath/Documents/Data-Structure-and-Algorithms/Gates/Unacademy Learning/Aptitude/PDFs/Newer_Course/
Gates/Unacademy Learning/Aptitude/PDFs/Newer_Course
Random.md
Gates/Unacademy Learning/DBMS/DBMS_notes_1.pdf
Gates/Unacademy Learning/DBMS/DBMS_notes_2.pdf
Gates/Unacademy Learning/C_programming_and_Data_Structure/Notes/DS_and_C_programming_notes.pdf
Gates/Unacademy Learning/C_programming_and_Data_Structure/Notes/C Language_notes .pdf
Gates/Unacademy Learning/PYQs_practice_questions/Disha_Experts_GATE_2020_Computer_Science_and_Technology_12019,_Disha.pdf
Gates/Unacademy Learning/C_programming_and_Data_Structure/Notes/Important_topic.md
Gates/Unacademy Learning/C_programming_and_Data_Structure/Notes/Important_topic.pdf
Gates/Unacademy Learning/C_programming_and_Data_Structure/DS_and_C_programming_notes.pdf
